/* This file contains all the custom css */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
}
p {
    font-weight: 300;
    font-size: 21.33px;
}
.main-header {
    margin-bottom: 0 !important;
    color: white;
}
.main-header a {
    color: white;
}
.mast-head {
    background-image: url('../imgs/mast-head-bg.png');
    height: 100vh;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
}
.iphone-mast-head {
    position: absolute;
    bottom: 0;
}
.people-centered {
    background-color: #023047;
    color: white;
    padding-top: 190px;
    padding-bottom: 190px;
    text-align: center;
}
.how-responsive-works {
    padding-top: 160px;
    padding-bottom: 160px;
}
.solutions-section {
    padding-top: 115px;
    padding-bottom: 115px;
}
.main-sections {
    padding-top: 108px;
    padding-bottom: 108px;
}
.features-section {
    padding-top: 150px;
    padding-bottom: 150px;
}
.about-section {
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: #FFB703;
}
.about-section img {
    width: 100%;
}
.coming-soon {
    background-image: url('../imgs/coming-soon-bg.png');
    padding-top: 430px;
    padding-bottom: 180px;
    background-size: cover;
    color: white;
}
.lets-talk {
    padding-top: 200px;
    padding-bottom: 150px;
}
footer h4 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
}
footer ul li{
    margin-bottom: 18px;
    font-size: 21px;
    font-weight: 300;
}
.top-footer img {
    margin-bottom: 22px;
}
.top-footer {
    padding-bottom: 21px;
}
.bottom-footer .container {
    border-top: solid 1px #EDEDED;
    padding-top: 25px;
    padding-bottom: 25px;
}
.top-footer button {
    padding-right: 8px;
    padding-left: 8px;
    line-height: .8;
    background-color: #EDEDED;
    border-color: #EDEDED;
    margin-right: 11px;
}
.top-footer button:hover {
    background-color: white;
    border-color: white;
}
.top-footer button svg {
    width: 16px;
    height: 16px;
    color: #023047;
}
.top-footer .input-group {
    margin-bottom: 22px;
}
.top-footer .w-50 {
    width: 60% !important;
}
.lets-talk .form-control {
    margin-bottom: 17px;
}
.lets-talk button {
    background-color: #219EBC;
    border-color: #219EBC;
}
.lets-talk h1 {
    font-weight: 600;
    margin-bottom: 25px;
}
.lets-talk p {
    margin-bottom: 22px;
}
.coming-soon h1 {
    color: #FFB703;
    margin-bottom: 12px;
    font-size: 72px;
    font-weight: 600;
}
.coming-soon h3 {
    font-size: 46px;
    max-width: 673px;
    margin: auto;
    margin-bottom: 20px;
}
.coming-soon button {
    background-color: #219EBC;
    border-color: #219EBC;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 35px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
}
.coming-soon .coming-soon-apple-android img {
    height: 55px;
    margin-right: 15px;
}
.about-section {
    color: #023047;
}
.about-section h1 {
    font-size: 60px;
    margin-bottom: 17px;
    font-weight: 600;
}
.about-section h4 {
    font-size: 34px;
    margin-bottom: 12px;
}
.about-section p {
    margin-bottom: 30px;
}
.features-section img {
    width: 69px;
    height: 69px;
    margin-bottom: 13px;
}
.features-section h1 {
    margin-bottom: 24px;
    font-size: 60px;
    font-weight: 600;
}
.features-section h4 {
    font-size: 20px;
    margin-bottom: 9px;
}
.features-section p {
    max-width: 870px;
    margin: auto;
    margin-bottom: 100px;
}
.features-section .features-row p {
    max-width: 350px;
    margin: auto;
    margin-bottom: 80px;
    font-size: 17px;
}
.features-section .feature-icon {
    height: 38px;
    width: auto;
    margin-bottom: 0;
}
.main-sections p {
    max-width: 440px;
}
.main-sections img {
    margin-bottom: 60px;
}
.main-sections h6 {
    margin-top: 33px;
    margin-bottom: 21px;
    font-size: 17px;
    font-weight: 600;
}
.main-sections h2 {
    margin-bottom: 28px;
    font-size: 46px;
    font-weight: 600;
}